torch
torchinfo
numpy
pandas
scikit-learn
tqdm
optuna
argparse
pydantic
psutil
anndata
polars
huggingface_hub
transformers
holoviews
datashader
umap-learn
seaborn
missingpy
pytorch-lightning
tensorboard
setuptools
pyarrow